.completion-wrapper
  = render 'users/shared/header'
  .completion-wrapper__contents
    .completion-wrapper__contents__top
      %p.completion-wrapper__contents__top__message
        会員登録完了
    .completion-wrapper__contents__body
      %p.completion-wrapper__contents__body__message
        ありがとうございます。
      %p.completion-wrapper__contents__body__bottom-message
        会員登録が完了しました。
      = link_to "メルカリをはじめる", root_path, class: "completion-wrapper__contents__body__btn"
    = image_tag "https://i.gyazo.com/34b83e79fa30d8e98dc7fc2c694d11a4.png", width: 700, height: 300
  = render 'users/shared/footer'