.user_wrapper
  .user_wrapper__header
    .user_wrapper__header__contents
      = link_to items_path, class: "user_wrapper__header__contents__link" do
        %img{class: "user_wrapper__header__contents__link__img", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3791839826"}
  .user_wrapper__contents
    .user_wrapper__contents__form
      .user_wrapper__contents__form__message
        %p.user_wrapper__contents__form__body_text
          会員情報入力
      .user_wrapper__contents__form__body
        











-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.text_field :nickname, placeholder: "nickname"
-#     = f.text_field :first_name, placeholder: "first_name"
-#     = f.text_field :last_name, placeholder: "last_name"
-#     = f.text_field :birth_date, placeholder: "date"
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
