.user_wrapper__header
  .user_wrapper__header__contents
    = link_to items_path, class: "user_wrapper__header__contents__link" do
      %img{class: "user_wrapper__header__contents__link__img", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3791839826"}
    .user_wrapper__header__contents__text
      %span.user_wrapper__header__contents__text__message1
        会員情報
      %span.user_wrapper__header__contents__text__message2
        電話番号認証
      %span.user_wrapper__header__contents__text__message3
        お届け先住所入力
      %span.user_wrapper__header__contents__text__message4
        支払い方法
      %span.user_wrapper__header__contents__text__message5
        完了
    .user_wrapper__header__contents__progress
      .user_wrapper__header__contents__progress__box1
      .user_wrapper__header__contents__progress__box2
      .user_wrapper__header__contents__progress__box3
      .user_wrapper__header__contents__progress__box4
      .user_wrapper__header__contents__progress__box5
      