.m-container
  .m-container__content
    .m-container__content__mypage-user
    .m-container__content__mypage-tab
  .m-container__side
    %nav.mypage__nav
      %ul.mypage__nav__list
        %li
          %a.mypage__nav__list__item
