.address-wrapper {
  height: 250vh;
  width: 100%;
  background: #f5f5f5;
  &__contents {
    height: 200vh;
    width: 710px;
    margin: 0 auto;
    background: white;
    &__form {
      
    }
  }
}