.main{
  background: #f5f5f5;
  &__slider{
    height: 400px;
    width: 100vw;
  }
  &__container{
    width: 100vw;
    margin: 24px auto 0;
    padding-bottom: 40px;
    text-align: center;
    &__title{
      font-size: 28px;
      font-weight: bold;
    }
    &__box{
      font-size: 22px;
      width: 900px;
      margin: 0 auto;
      &--title{
        text-decoration: none;
        color: rgb(0, 153, 232);
        font-weight: bold; 
      }
      &--title:hover{
        text-decoration: underline;
      }
      &--content{
        display: flex;
        flex-wrap: wrap;
        &--items{
          text-decoration: none;
          position: relative;

          &--soldtag {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 23px;
            z-index: 2;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
            p {
              transform: rotate(-45deg);
              position: relative;
              z-index: 3;
              top : 15px;
              right: 2px;
            }
           }
           &--soldtag:after {
            border-width: 100px 100px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
           }
          width: 213px;
          margin-left: 10px;
          background-color: aliceblue;
          cursor: pointer;
          &--text{
            height: 110px;
            background: white;
            color: #000;
            &--price {
              font-size: 13px;
              font-weight: bold;
              position: absolute;
              left: 10px;
	            bottom: 20px;
              text-align: left;
            }
            &--name {
              font-size: 15px;
              position: absolute;
              left: 10px;
              bottom: 80px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}