%li.main__container__box--content--items
    = image_tag "https://static.mercdn.net/thumb/photos/m17476524660_1.jpg?1564989728", alt: "image", class: "main__container__box--content--items--image"
    .main__container__box--content--items--text
      .main__container__box--content--items--text--name
      = item.name
      .main__container__box--content--items--text--price
      = item.price