.mypage__right {
  &__change {
    margin-left: 400px;
  }
  &__side__credit {
    background-color: #fff;
    width: 700px;

    &__title {
      border-bottom: 1px solid #f5f5f5;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      padding: 8px 24px;
      text-align: center;
    }
    &__container {
      border-top: 1px solid #f5f5f5;
      padding: 64px;
      &__top {
        &__submit{
          text-decoration: none;
          color: white;
          padding: 15px 50px;
          background-color: red;
          font-size: 15px;
          display: inline-block;
          margin: 20px 100px 0;
        }
        &__add {
          text-decoration: none;
          color: white;
          padding: 15px 50px;
          background-color: red;
          font-size: 15px;
          display: inline-block;
          margin: 20px 100px 0;
        }
        &__title {
          max-width: 320px;
          margin: 0 auto;
          &__text {
            font-size: 16px;
            font-weight: bold;
          }
        }
        &__list {
          border-bottom: 1px solid #eee;
          padding: 24px 0;
          &__content {
            position: relative;
            max-width: 320px;
            margin: 0 auto;
            &__icon {
              height: 15px;
              width: 49px;
            }
            &__num {
              margin: 8px 0 0;
              font-size: 14px;
            }
            &__btn {
              background: #fff;
              border-radius: 3px;
              border: 1px solid #ea352d;
              color: #ea352d;
              cursor: pointer;
              font-size: 12px;
              padding: 2px 8px;
              position: absolute;
              right: 0;
              top: 30px;
              text-decoration: none;
              &--changedef {
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ea352d;
                color: #ea352d;
                cursor: pointer;
                font-size: 12px;
                padding: 2px 8px;
                position: absolute;
                right: 0;
                top: 0;
                text-decoration: none;
              }
              &--def {
                background: #fff;
                border-radius: 3px;
                border: 1px solid black;
                color: black;
                cursor: pointer;
                font-size: 12px;
                padding: 2px 8px;
                position: absolute;
                right: 0;
                top: 0;
                text-decoration: none;
              }
            }
          }
        }
      }
      
      
      &__bottom__link {
        color: #0099e8;
        display: block;
        font-size: 14px;
        margin: 30px 0 0;
        text-align: right;
        text-decoration: none;
      }
    }
  }
}