.user_wrapper {
  background: #f5f5f5;
  width: 100vw;
  color: rgb(51, 51, 51);
  &__header {
    width: 750px;
    height: 50px;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
    color: gray;
    &__contents {
      width: 730px;
      margin: 0 auto;
      display: inline-block;
      &__link {
        &__img {
          width: 185px;
          height: 49px;
        }
      }
      &__progress {
        display: block;
        height: 11px;
        width: 470px;
        border-bottom: solid 2px #ccc;
        float: right;
        &__box1 {
          display: inline-block;
          height:12px;
          width: 12px;
          border-radius: 50%;
          background: #ccc;
        }
        &__box2 {
          display: inline-block;
          height:12px;
          width: 12px;
          border-radius: 50%;
          background: #ccc;
          margin-left:97px;
        }
        &__box3 {
          display: inline-block;
          height:12px;
          width: 12px;
          border-radius: 50%;
          background: #ccc;
          margin-left:97px;
        }
        &__box4 {
          display: inline-block;
          height:12px;
          width: 12px;
          border-radius: 50%;
          background: #ccc;
          margin-left:97px;
        }
        &__box5 {
          display: inline-block;
          height:12px;
          width: 12px;
          border-radius: 50%;
          background: #ccc;
          margin-left:97px;
        }
      }
      &__text {
        width: 470px;
        float: right;
        height: 1px;
        font-size: 12px;
        
        &__message1 {
          position: absolute;
          top: 70px;
          right: 460px;
        }
        &__message2 {
          display: inline-block;
          margin-left: 30px;
          position: absolute;
          top: 70px;
          right: 335px;
        }
        &__message3 {
          display: inline-block;
          margin-left: 30px;
          position: absolute;
          top: 70px;
          right: 210px;
        }
        &__message4 {
          display: inline-block;
          margin-left: 30px;
          position: absolute;
          top: 70px;
          right: 110px;
        }
        &__message5 {
          display: inline-block;
          margin-left: 63px;
          position: absolute;
          top: 70px;
          right: 15px;
        }
      }
    }
  }
  &__contents {
    width: 100%;
    margin-bottom: 200px;
    &__forms {
      background-color: white;
      width: 700px;
      margin: 0 auto;
      &__message {
        width: 100%;
        height: 7%;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        line-height: 100px;
        border-bottom: 1px solid #f5f5f5;
      }
      &__body {
        height: 90%;
        width: 50%;
        margin: 0 auto;
        &__form {
          margin-top: 15px;
          &__label {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 600;
          }
          &__logo {
            display: inline-block;
            background-color: #ea352d;
            color: white;
            font-size: 12px;
            height: 20px;
            width: 35px;
            border-radius: 3px;
            text-align: center;
            margin-left: 9px;
          }
          &__field {
            display: block;
            width: 100%;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
          &__items {
            &__namelabel {
              display: inline-block;
              font-size: 14px;
              margin: 10px 0 7px 0;
              font-weight: 600;
            }
            &__name-logo {
              display: inline-block;
              background-color: #ea352d;
              color: white;
              font-size: 12px;
              height: 20px;
              width: 35px;
              border-radius: 3px;
              text-align: center;
              margin-left: 9px;
            }
          }
          &__field-name {
            display: inline-block;
            width: 48%;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
          &__field-lsname {
            display: inline-block;
            width: 48%;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
          #user_birth_date_1i {
            height: 48px;
            width: 22%;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
          }
          #user_birth_date_2i {
            height: 48px;
            width: 22%;
            margin-left: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
          }
          #user_birth_date_3i {
            height: 48px;
            width: 22%;
            margin-left: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
          }

        }
        &__info {
          margin-top: 20px;
          &__message {
            font-weight: bold;
          }
          &__text {
            margin-top: 8px;
            font-size: 13px;
            display: inline-block;
            width: 300px;
          }
        }
        &__message {
          font-size: 13px;
          color: #888;
          &__text {
            margin-bottom: 40px;
          }
        }
        &__tbox {
          margin-top: 20px;
          width: 350px;
          text-align: center;
          &__agree {
            font-size: 14px;
            color: rgb(51, 51, 51);
          }
          &__link {
            text-decoration: none;
            font-size: 14px;
            color: #0099e8;
          }
        }
        &__buttonbox {
          &__btn {
            display: block;
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 50px;
            background-color: #ea352d;
            margin-top: 25px;
            color: white;
            font-size: 14px;
          }
        }
        &__infobox {
          height: 100px;
          width: 350px;
          text-align: right;
          line-height: 60px;
          &__info {
            text-decoration: none;
            color: #0099e8;
            font-size: 14px;
          }
          &__icon {
            color: #0099e8;

          }
        }
      }
    }
  }
  &__footer {
    height: 10%;
    width: 100vw;
    &__info {
      height: 100px;
      margin: 0 auto;
      width: 400px;
      &__links {
        color: #333;
        text-decoration: none;
        font-size: 12px;
        margin-right: 9px;
      }
    }
    &__logo {
      width: 100%;
      height: 120px;
      display: block;
      text-align: center;
      text-decoration: none;
      &__img {
        display: inline-block;
        width: 80px;
        margin-top: 30px;
      }
      &__sign-mercari {
        font-size: 12px;
        color: #333;
      }
    }
  }
}
